@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rbg: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rbg));
}

/* styles for the container's scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4539CD; /* color of the draggable scrollbar handle */
  border-radius: 8px; /* roundness of the draggable scrollbar handle */
  border: 2px solid transparent; /* should be same as background to create a border effect */
}

/* styles for the container's scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #EDEDED; /* color of the track */
  border-radius: 8px;
}

/* width of the entire scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
